<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đọc Truyện Tranh Online - Website chính thức - NetTruyen</title>
    <link rel="icon" type="image/png" href="//st.nettruyenvt.com/data/logos/favicon-nettruyen.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" /> -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/reponesive.css">
</head>

<body>
    <div class="app">
        <!-- Header -->
        <header class="header-img">
            <div class="container">
                <div class="header">
                    <div class="header-right">
                        <a class="header-logo" href="">
                            <img src="./assets/img/logo-nettruyen.png" alt="logo">
                        </a>
                    </div>
                    <div class="header-center">
                        <div class="header-search ">
                            <input class="header-input" type="text" placeholder="Tìm truyện...">
                            <button class="btn-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <div class="suggest-search">
                                <ul class="suggest-search-list">
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai dsa da add as</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai dsa da add as</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai dsa da add as</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="suggest-search-item">
                                        <a href="">
                                            <div>
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="suggest-search-content">
                                                <h3>Aharen-san wa Hakarenai dsa da add as</h3>
                                                <p>chap 124</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-warp hide-on-mobile">
                            <div class="header-lightbulb">
                                <i class="fa-regular fa-lightbulb"></i>
                            </div>
                            <div class="header-notification">
                                <i class="fa-sharp fa-regular fa-comment"></i>
                            </div>
                        </div>
                    </div>

                    <ul class="header-left">
                        <li class="login">
                            <a href="">Đăng nhập</a>
                        </li>
                        <p class="hide-on-tablet hide-on-mobile">/</p>
                        <li class="register">
                            <a href="">Đăng ký</a>
                        </li>
                    </ul>
                    <div class="button-nav">
                        <i class="fa fa-bars"></i>
                    </div>

                </div>
            </div>
        </header>

        <!-- Navbar -->
        <div class="nav">
            <div class="container">

                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa-solid fa-house-chimney"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="">hot</a></li>
                    <li class="nav-item"><a class="nav-link" href="">theo dõi</a></li>
                    <li class="nav-item"><a class="nav-link" href="">lịch sử</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Thể loại</a>
                        <ul class="nav-sub-list">
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>
                            <li class="nav-sub-item"><a class="nav-sub-link" href="">lịch sử</a></li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>

        <!-- Content -->
        <div class="main-body">
            <div class="content container">
                <!-- Top-comic -->
                <div class="top-comic">
                    <h1 class="comic-title">
                        Truyện đề cử >
                    </h1>
                    <div class="list-comic">
                        <div class="row list-comic-top">
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name"> Ta là tà đế Ta là tà đế Ta là tà đế </p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name">Ta là tà đế</p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name">Ta là tà đế</p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name">Ta là tà đế</p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name">Ta là tà đế</p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-l-2-4 col-m-3 col-s-6">
                                <div class="item-comic">
                                    <a href="">
                                        <div class="img-wrap-slide">
                                            <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                        </div>
                                        <div class="comic-caption">
                                            <p class="comic-name">Ta là tà đế</p>
                                            <a class="comic-chap-link" href="">Chap 200</a>
                                            <span class="item-time">
                                                <i class="fa fa-clock-o"></i>
                                                3 giờ trước
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comic-update -->
                <div class="comic-update">
                    <div class="row-8-4">
                        <div class="col-l-8 col-m-12 col-s-12">
                            <div>
                                <h1 class="comic-title">
                                    Truyện mới cập nhật >
                                </h1>
                            </div>
                            <div class="list-comic">
                                <div class="row">
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-l-3 col-s-6">
                                        <div class="item-comic">
                                            <div class="img-wrap-update">
                                                <a href="">
                                                    <img src="./assets/img/ta-la-ta-de.jpg" alt="ta la ta de">
                                                </a>
                                            </div>
                                            <div class="comic-info">
                                                <h3>
                                                    <a class="comic-update-name" href="">
                                                        Ta là tà đế Ta là tà đế Ta là tà đế
                                                        Ta là tà đế
                                                    </a>
                                                </h3>
                                                <ul class="list-chapter">
                                                    <li class="item-chapter">
                                                        <a href="">Chap 100</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 1</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                    <li class="item-chapter">
                                                        <a href="">Chap 101</a>
                                                        <p>21 phút trước</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ul class="pagination">
                                <li class="pagination-item active">1</li>
                                <li class="pagination-item">2</li>
                                <li class="pagination-item">3</li>
                                <li class="pagination-item">4</li>
                                <li class="pagination-item">5</li>
                            </ul>
                        </div>
                        <div class="col-l-4 col-m-12 col-s-12">
                            <div class="comic-follow">
                                <div class="box">
                                    <h3>Truyện đang theo dõi</h3>
                                    <p>Chưa có truyện theo dõi</p>
                                </div>
                            </div>
                            <div class="comic-history">
                                <div class="box">
                                    <div class="comic-history-title">
                                        <h3>Lịch sử đọc truyện</h3>
                                        <a href="">Xem tất cả </a>
                                    </div>
                                    <ul class="list-history">
                                        <li class="item-history">
                                            <div class="history-img-wrap">
                                                <img class="history-img" src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="history-content">
                                                <p class="history-name">Tôi đến từ thế giới trò chơi dsa</p>
                                                <p class="history-chapter">Đọc tiếp Chapter 5 ></p>
                                            </div>
                                            <div class="history-erase">
                                                <i class="fa-sharp fa-solid fa-xmark"></i>
                                                Xoá
                                            </div>
                                        </li>
                                        <li class="item-history">
                                            <div class="history-img-wrap">
                                                <img class="history-img" src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="history-content">
                                                <p class="history-name">Tôi đến từ thế giới trò chơi</p>
                                                <p class="history-chapter">Đọc tiếp Chapter 5 ></p>
                                            </div>
                                            <div class="history-erase">
                                                <i class="fa-sharp fa-solid fa-xmark"></i>
                                                Xoá
                                            </div>
                                        </li>
                                        <li class="item-history">
                                            <div class="history-img-wrap">
                                                <img class="history-img" src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="history-content">
                                                <p class="history-name">Tôi đến từ thế giới trò chơi</p>
                                                <p class="history-chapter">Đọc tiếp Chapter 5 ></p>
                                            </div>
                                            <div class="history-erase">
                                                <i class="fa-sharp fa-solid fa-xmark"></i>
                                                Xoá
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-top">
                                <ul class="nav-top">
                                    <li class="active">Top Ngày</li>
                                    <li>Top Tuần</li>
                                    <li>Top Tháng</li>
                                </ul>
                                <ul class="top-day">
                                    <li class="top-item">
                                        <p class="top-rank rank-1">01</p>
                                        <div class="top-wrap">
                                            <div class="top-img-wrap">
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="top-content">
                                                <h3 class="top-name">Đại Quản Gia Là Ma Hoàng dsa </h3>
                                                <div class="top-bottom">
                                                    <p class="top-chapter">Chapter 379</p>
                                                    <i class="fa-solid fa-eye"> <span>29 M</span> </i>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="top-item">
                                        <p class="top-rank rank-2">02</p>
                                        <div class="top-wrap">
                                            <div class="top-img-wrap">
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="top-content">
                                                <h3 class="top-name">Đại Quản Gia Là Ma Hoàng dsa </h3>
                                                <div class="top-bottom">
                                                    <p class="top-chapter">Chapter 379</p>
                                                    <i class="fa-solid fa-eye"> <span>29 M</span> </i>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="top-item">
                                        <p class="top-rank rank-3">03</p>
                                        <div class="top-wrap">
                                            <div class="top-img-wrap">
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="top-content">
                                                <h3 class="top-name">Đại Quản Gia Là Ma Hoàng dsa </h3>
                                                <div class="top-bottom">
                                                    <p class="top-chapter">Chapter 379</p>
                                                    <i class="fa-solid fa-eye"> <span>29 M</span> </i>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="top-item">
                                        <p class="top-rank rank-4">04</p>
                                        <div class="top-wrap">
                                            <div class="top-img-wrap">
                                                <img src="./assets/img/ta-la-ta-de.jpg" alt="">
                                            </div>
                                            <div class="top-content">
                                                <h3 class="top-name">Đại Quản Gia Là Ma Hoàng dsa </h3>
                                                <div class="top-bottom">
                                                    <p class="top-chapter">Chapter 379</p>
                                                    <i class="fa-solid fa-eye"> <span>29 M</span> </i>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-l-4 col-s-12">
                        <img class="footer-img" src="./assets/img/logo-nettruyen.png" alt="">
                    </div>
                    <div class="col-l-8 col-s-12">
                        <div class="key-word">
                            <h1 class="key-title">Từ khóa</h1>
                            <ul class="key-list">
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>
                                <li class="key-item">Truyện tranh</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/b41d349e68.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>